.inputAndButton {
  display: flex;
  flex-direction: column;

  input {
    padding: 1rem;
    margin-bottom: 0.5rem;
    width: 35rem;
    height: 3.5rem;
    border: 0.1rem solid #dbdbdb;
    background-color: #fafafa;
  }

  .loginSignupButton {
    margin-top: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 35rem;
    height: 3.5rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: #0095f6;
    border: none;
    &[disabled] {
      background-color: #b2dffc;
    }
  }
}
