@import '../../styles/variable.scss';

.product {
  @include flex-sort;
  flex-direction: column;

  .productImgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;

    .showProductImg {
      width: 100%;
      height: 30rem;
      transition-duration: 0.3s;
    }

    .closeProductImg {
      width: 100%;
      height: 10rem;
      transition-duration: 0.7s;
    }

    .productText {
      position: absolute;
      margin-top: 10rem;
      color: white;
      text-align: center;

      h3 {
        font-size: 4rem;
        margin-bottom: 2rem;
      }
    }
  }

  .productBody {
    @include flex-sort;
    flex-direction: column;
    position: relative;
    background-color: white;
    width: 100vw;

    transform: translate(0, 0);
    transition: transform 0.2s;

    .imageSeemore {
      background-color: gray;
      color: white;
      border-radius: 0.5rem;
      padding: 1.5rem;
      width: 10rem;
      text-align: center;
      cursor: pointer;
    }

    .bycleContainer {
      @include flex-sort;
      flex-direction: column;
      width: 100%;

      .bycleTitle {
        @include flex-sort;
        flex-direction: column;

        h2 {
          font-size: 10rem;
          text-align: center;
          margin: 3rem 0;
        }
        .line {
          border: 0.1rem solid gray;
          width: 100%;
        }
      }

      .bycleList {
        @include flex-sort;
        flex-wrap: wrap-reverse;
      }
    }
    .movePageBtn {
      .pageBtn {
        width: 8rem;
        height: 3rem;
        margin: 05rem;
        border: none;
        border-radius: 2rem;
        padding: 1rem;
        cursor: pointer;

        &:hover {
          box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem gray;
          transition-duration: 0.8s;
        }

        &:active {
          box-shadow: none;
        }
      }
    }
  }
  .active {
    transform: translate(0, -40rem);
    transition: transform 0.2s;
    top: 20rem;
  }
}
