.price {
  .priceBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
      padding: 10rem;
      font-size: 3rem;
    }

    span {
      margin: 0 0.5rem;
      font-size: 1rem;
    }

    .priceOptionSelect {
      display: flex;
      align-items: center;
    }

    .priceList {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .priceFinalCheck {
    display: flex;
    flex-direction: column;
    margin-left: 15rem;
    padding: 1rem;
    width: 25rem;

    .priceInfo {
      display: flex;
      align-items: center;
      flex-direction: column;
      border: 0.2rem solid black;

      .totalBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        width: 100%;
      }

      .footer {
        font-size: 1rem;
        color: gray;
      }
    }
    .priceBtn {
      margin: 2rem 0;
    }
  }
}
