.price {
  .priceBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
      padding: 10rem;
      font-size: 3rem;
    }

    .priceOptionSelect {
      display: flex;
      align-items: center;

      .setCheckBox {
        margin: 0 0.5rem;
        font-size: 1rem;
        cursor: pointer;
      }
    }

    .priceList {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .line {
    border: 0.1rem solid black;
    margin: 2rem 0;
  }

  .priceFinalCheck {
    display: flex;
    flex-direction: column;
    margin-left: 15rem;
    padding: 1rem;
    width: 30rem;

    .priceInfo {
      display: flex;
      align-items: center;
      flex-direction: column;
      border: 0.2rem solid gray;
      background-color: whitesmoke;
      border-radius: 2rem;

      .totalBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        padding: 2rem;
        width: 100%;
      }

      .footer {
        font-size: 1rem;
        color: gray;
      }
    }

    .priceBtn {
      margin: 2rem 0;
      border: 0.3rem solid whitesmoke;
      background-color: bisque;
      border-radius: 2rem;
      padding: 1rem;
      cursor: pointer;

      &:hover {
        box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem gray;
        transition-duration: 0.8s;
      }

      &:active {
        box-shadow: none;
        border: 0.3rem solid whitesmoke;
      }
    }
  }
}
