.carts {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);

  .cartsSubContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 7rem;
    border-radius: 2rem;
    background-color: white;
    height: auto;
    width: 440px;
    background-color: white;
    overflow-x: hidden;
    padding: 30px;
    border-radius: 12px;
    border: 0.2px solid rgb(234, 228, 228);
    box-shadow: none;
    position: absolute;

    .cartsInnerContainer {
      display: flex;
      flex-direction: column;
      max-height: calc(100% - 64px);
      max-width: 600px;

      .firstBasket {
        margin: 2px 0px 4px;
        padding: 12px 0px;
        font-size: 1.5rem;
        width: 38rem;

        .subDes {
          margin-bottom: 20px;
        }

        .price {
          font-size: 1.8rem;
          font-weight: 600;
        }
        .subPrice {
          padding-left: 0.5rem;
          color: grey;
          text-decoration: line-through;
        }
      }

      .secondBasket {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: inherit;
        height: 2.4rem;
        font-size: 1.9rem;
        margin: 1.5rem 0;
        font-weight: 600;

        .bigPrice {
          font-size: 2.3rem;
        }
      }

      .secondAndHalfBasket {
        text-align: right;
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
        color: grey;
      }
      .thirdBasket {
        display: flex;
        gap: 1rem;
        .cancelBtn {
          display: block;
          text-align: center;
          overflow: hidden;
          height: 52px;
          background-color: #ffffff;
          border-radius: 6px;
          border: 0.5px #d82728 solid;
          width: 50%;
          font-size: 1.7rem;
          color: #d82728;
        }
        .selectBtn {
          display: block;
          text-align: center;
          overflow: hidden;
          width: 50%;
          height: 52px;
          border-radius: 6px;
          color: rgb(255, 255, 255);
          background-color: #d82728;
          border: 0px none;
          font-size: 1.7rem;
        }
      }
    }
  }
}
