.dd {
  transition: all;
  position: absolute;
  width: 100%;
  top: 10rem;

  .DropDown {
    display: flex;
    background-color: white;
    height: 25rem;
    border-bottom: 0.1rem solid lightgray;

    .dropDownLeft {
      display: flex;
      flex: 1.7;
      padding-left: 15rem;

      .styleList {
        font-size: 1.7rem;
        height: 3rem;
        border-right: 0.1rem solid rgb(228, 224, 224);
        padding-right: 2rem;
      }
      .menuDetail {
        padding-top: 8.5rem;
      }
    }

    .styleList2 {
      font-size: 1.5rem;
      height: 3rem;
      color: gray;
      padding-left: 1rem;
    }

    .styleList3 {
      font-size: 1.7rem;
      height: 3rem;
    }

    .brand {
      margin-right: 25rem;
    }

    .hashTagList {
      background-color: rgb(245, 242, 242);
      width: 50rem;
      padding-left: 3rem;

      .hashTagStyle {
        font-size: 1.7rem;
        height: 3rem;
        background-color: white;
        border: 0.1rem solid lightgray;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
      }
    }

    li {
      cursor: pointer;
    }
    li:hover {
      color: red;
    }

    button {
      cursor: pointer;
    }

    button:hover {
      color: red;
    }
  }

  .menuTop {
    color: red;
    font-size: 2rem;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
  }
}
